<%- include('includes/head') %>
  <section class="container">

    <h1>
      Loren Normal!!
    </h1>
 
    <!-- Usando variavel local do EJS 
      
    <h1>
      <%= umaVariavelLocal %>
    </h1>
    -->

    <!--  usando o EJS!!
   <h1>
    <% if (typeof titulo !== 'undefined') { %>
      <%= titulo %>
    <% } else { %>  
      <%= "Titulo não definido!" %>
    <% } %>

  </h1>

  <p> 
    <% numeros.forEach((num)=> { %>
      <%= num %> <br>
    <% }) %>
  </p> -->

    <form action="/" method="post">
      <input type="text" name="_csrf" value="<%=csrfToken%>" >
      <label for="">Nome:</label>
      <input type="text" name="cliente">
      <button> Submit </button>
    </form>
  </section>

  <%- include('includes/footer') %>

  